Repository vanchenkin/merestorage: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn eslint --fix, yarn stylelint --fix

сбор метрик по расписанию, crud отчетов, сбор объектов postgres
  .ncurc.js
  backend/src/app.module.ts
  backend/src/common/classes/resources/CassandraResource.ts
  backend/src/common/classes/resources/PostgresResource.ts
  backend/src/common/classes/resources/SageResource.ts
  backend/src/common/classes/resources/types/ResourceInterface.ts
  backend/src/common/classes/resources/types/resourceMapper.ts
  backend/src/common/modules/pgboss/pgboss.module.ts
  backend/src/common/modules/pgboss/pgboss.service.ts
  backend/src/common/validators/CronValidator.ts
  backend/src/config/logger/logger.config.ts
  backend/src/prisma/migrations/20230331151647_metric_data/migration.sql
  backend/src/prisma/migrations/20230401004513_reports/migration.sql
  backend/src/prisma/schema.prisma
  backend/src/routes/metrics/dto/metricId.dto.ts
  backend/src/routes/metrics/metrics.controller.ts
  backend/src/routes/metrics/metrics.module.ts
  backend/src/routes/metrics/metrics.service.ts
  backend/src/routes/reportRows/dto/createReportRow.dto.ts
  backend/src/routes/reportRows/dto/reportRowId.dto.ts
  backend/src/routes/reportRows/reportRows.controller.ts
  backend/src/routes/reportRows/reportRows.module.ts
  backend/src/routes/reportRows/reportRows.service.ts
  backend/src/routes/reports/decorators/report.decorator.ts
  backend/src/routes/reports/dto/createReport.dto.ts
  backend/src/routes/reports/dto/reportId.dto.ts
  backend/src/routes/reports/guards/report.guard.ts
  backend/src/routes/reports/reports.controller.ts
  backend/src/routes/reports/reports.module.ts
  backend/src/routes/reports/reports.service.ts
  client/src/components/CheckCard/CheckCard.module.scss
  client/src/components/CheckCard/CheckCard.tsx
  client/src/pages/CreateMetric/MetricForm/MetricForm.tsx
  client/src/pages/Metrics/MetricsPage.tsx
  common/types/ReportRowType.ts
  package.json
  yarn.lock
Due: prettier --write, yarn eslint --fix, yarn stylelint --fix

unic
  .gitignore
  docker/nginx.conf.template
  package.json
  unic.json
  yarn.lock
Due: prettier --write

Фикс nginx
  docker-compose.yml
  docker/nginx.conf
  unic.json
Due: prettier --write

Сбор данных sage
  backend/.env.example
  backend/src/app.module.ts
  backend/src/common/classes/resources/CassandraResource.ts
  backend/src/common/classes/resources/PostgresResource.ts
  backend/src/common/classes/resources/SageResource.ts
  backend/src/common/classes/resources/types/ResourceInterface.ts
  backend/src/common/classes/resources/types/queries/SageQueryType.ts
  backend/src/config/config.ts
  backend/src/config/configurations.ts
  backend/src/routes/resources/resources.controller.ts
  backend/src/routes/resources/resources.service.ts
  client/src/components/CheckCard/CheckCard.tsx
  client/src/pages/CreateMetric/MetricForm/queryForms/SageQueryForm.tsx
  package.json
  yarn.lock
Due: prettier --write, yarn eslint --fix

Решение проблем с деплоем
  backend/src/prisma/schema.prisma
Due: none

Обновление зависимостей
  backend/src/common/filters/exceptions.filter.ts
  backend/src/routes/reports/reports.service.ts
  client/src/pages/CreateReport/CreateReportPage.tsx
  package.json
  unic.json
  yarn.lock
Due: prettier --write, yarn eslint --fix

Поменьше ресурсов
  unic.json
Due: prettier --write

Обновление зависимостей
  package.json
  yarn.lock
Due: prettier --write

Удаление собранных данных и опциональное описание
  backend/src/prisma/migrations/20230424174416_optional_description/migration.sql
  backend/src/prisma/schema.prisma
  backend/src/routes/metrics/dto/createMetric.dto.ts
  backend/src/routes/metrics/metrics.controller.ts
  backend/src/routes/metrics/metrics.service.ts
  backend/src/routes/reports/dto/createReport.dto.ts
  backend/src/routes/resources/dto/createResource.dto.ts
  client/src/pages/CreateMetric/MetricForm/MetricForm.tsx
  client/src/pages/CreateReport/ReportForm/ReportForm.tsx
  client/src/pages/CreateReport/ReportForm/ReportRow.tsx
  client/src/pages/CreateResource/CreateResourceForm/CreateResourceForm.tsx
  client/src/pages/Metric/MetricPage.tsx
  client/src/store/metrics/metricsApi.ts
Due: prettier --write, yarn eslint --fix

Грамматика
  backend/src/common/modules/ohm/__tests__/grammar.test.ts
  backend/src/common/modules/ohm/grammars/grammar.ohm
  backend/src/common/modules/ohm/grammars/grammar.ohm-bundle.d.ts
  backend/src/common/modules/ohm/grammars/grammar.ohm-bundle.js
  backend/src/common/modules/ohm/ohm.module.ts
  backend/src/common/modules/ohm/ohm.service.ts
  backend/src/prisma/seed.ts
  backend/src/routes/metrics/dto/createMetric.dto.ts
  backend/src/routes/metrics/metrics.module.ts
  backend/src/routes/metrics/metrics.service.ts
  backend/src/routes/reports/dto/createReport.dto.ts
  backend/src/routes/reports/dto/reportRow.dto.ts
  backend/src/routes/reports/reports.module.ts
  backend/src/routes/reports/reports.service.ts
  backend/src/routes/resources/dto/createResource.dto.ts
  backend/tsconfig.json
  client/src/components/ReportVisual/Chart/Chart.tsx
  client/src/pages/CreateReport/ReportForm/ReportRow.tsx
  client/src/pages/Report/ReportPage.tsx
  common/types/ChartValue.ts
  common/types/reports/responses/ChartResponse.ts
  common/utils/getMedian.ts
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, yarn eslint --fix

Генерация отчетов
  .eslintignore
  backend/src/common/modules/ohm/grammars/grammar.ohm-bundle.d.ts
  backend/src/common/modules/ohm/grammars/grammar.ohm-bundle.js
  client/src/components/ReportVisual/Chart/Chart.tsx
  client/src/components/ReportVisual/Number/Number.tsx
  client/src/pages/CreateReport/ReportForm/ReportForm.tsx
  client/src/pages/Report/ChartHydrated.tsx
  client/src/pages/Report/NumberHydrated.tsx
  client/src/pages/Report/ReportPage.tsx
  client/src/store/reports/reportsApi.ts
  package.json
  unic.json
  yarn.lock
Due: prettier --write, yarn eslint --fix

date fixes
  backend/src/common/filters/exceptions.filter.ts
  backend/src/common/modules/ohm/ohm.service.ts
  backend/src/routes/reports/reports.service.ts
  client/src/components/ReportVisual/Chart/Chart.tsx
Due: prettier --write, yarn eslint --fix

verbose docker
  docker/back.Dockerfile
  docker/front.Dockerfile
Due: none

remove verbose
  docker/back.Dockerfile
  docker/front.Dockerfile
Due: none

build fix
  package.json
Due: prettier --write

fix console log
  client/src/components/ReportVisual/Chart/Chart.tsx
Due: prettier --write, yarn eslint --fix

README
  README.md
  backend/src/app.module.ts
  backend/src/common/modules/prometheus/__mocks__/prometheus.service.mock.ts
  backend/src/common/modules/prometheus/prometheus.module.ts
  backend/src/common/modules/prometheus/prometheus.service.ts
  backend/src/config/metrics/metrics.config.ts
  docs/tz.pdf
  package.json
  yarn.lock
Due: prettier --write, yarn eslint --fix

feat: перетаскивание строк bug: колонки sage bug: сортировка данных feat: метрики за вчера bug: ошибка с датами Sage feat: вывод имени и описания отчета
  backend/src/common/classes/resources/PostgresResource.ts
  backend/src/common/classes/resources/SageResource.ts
  backend/src/common/modules/ohm/ohm.service.ts
  backend/src/routes/metrics/metrics.service.ts
  client/src/pages/CreateMetric/MetricForm/queryForms/SageQueryForm.tsx
  client/src/pages/CreateReport/ReportForm/ReportRow.tsx
  client/src/pages/CreateReport/ReportForm/ReportRowManager.tsx
  client/src/pages/Report/Report.module.scss
  client/src/pages/Report/ReportPage.tsx
  client/src/store/reports/reportsApi.ts
  package.json
  yarn.lock
Due: prettier --write, yarn eslint --fix, yarn stylelint --fix

namespace change
  unic.json
Due: prettier --write

fix report page
  client/src/pages/Report/Report.module.scss
Due: prettier --write, yarn stylelint --fix

DateTimePicker
  backend/src/common/modules/ohm/ohm.service.ts
  backend/src/routes/metrics/metrics.controller.ts
  backend/src/routes/metrics/metrics.service.ts
  backend/src/routes/metrics/types/GetMetricDataOptions.ts
  backend/src/routes/reports/dto/query.dto.ts
  backend/src/routes/reports/reports.service.ts
  client/src/pages/Report/ChartHydrated.tsx
  client/src/pages/Report/NumberHydrated.tsx
  client/src/pages/Report/ReportPage.tsx
  client/src/store/reports/reportsApi.ts
Due: prettier --write, yarn eslint --fix

unic fix
  unic.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.{ts,js,tsx}) or (any of: client/**/*.{scss,css})) or (any of: **/*.{md,json,template.html})
  yarn eslint --fix: any of: **/*.{ts,js,tsx}
  yarn stylelint --fix: any of: client/**/*.{scss,css}
